html,body{
    margin: 0px !important;
    padding: 0px !important;
}

body{
    background-color:#3e4a53;
}

table {
    border-collapse: collapse;
    min-width: 1000px;
}
table, th, td {
    border: 0px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    text-align: center;
}

.top-bar{
    padding: 0px;
    margin: 0px;
}

.entries-group{
    width: 50%;
    margin-left: 20%;
}

tr{
    background: #b7b5b7;
    border: none;
    cursor: pointer;
}

tr:nth-child(odd) {
    background: #f9f9f9;
  }

tr:hover {background-color:#8e898e;}

a.button{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: blue;
    margin: auto;
}

.nav-bar{
    margin: auto;
    border: none;
    width: 50%;
    margin-left: 20%;
    padding-bottom: 5px;
    
}

.color {
    width: 350px;
    margin: 0 auto;
}
.color li {
    margin: 0 15px 0 0;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 100%;
}

.color .cyan   {background: #7fccde;}
.color .purple {background: #cb99c5;}

.btn.mini, 
.btn-two.mini, 
.btn-gradient.mini, 
.btn-effect.mini {
  padding: 4px 12px;  
  font-size: 12px;
}

.btn.cyan, .btn-two.cyan     {background-color: #7fccde;}

.btn-two {
    color: white;   
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                      0 2px 0 -1px rgba(0,0,0,0.13), 
                      0 3px 0 -1px rgba(0,0,0,0.08), 
                      0 3px 13px -1px rgba(0,0,0,0.21);
}
.btn-two:active {
    top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
    position: relative;
}